// .page {
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }

// .top-tags {
//   bottom: auto;
//   top: 35px;
//   left: 120px;
// }

// .top-tag-body {
//   bottom: auto;
//   top: 35px;
//   left: 120px;
// }

// .bottom-tag-indent {
//   color: #ffd700;
//   opacity: 0.6;
//   position: absolute;
//   bottom: 70px;
//   left: 120px;
//   font-size: 18px;
//   font-family: monospace;
//   font-weight: 700;
//   animation: fadeInTags 1s 1.4s backwards;
// }

// .top-tag-html {
//   color: #ffd700;
//   opacity: 0.6;
//   position: absolute;
//   font-size: 18px;
//   font-family: monospace;
//   font-weight: 700;
//   animation: fadeInTags 1s 1.4s backwards;
// }

// .top-tag-indent {
//   margin-left: 40px;
// }

// .bottom-tag-html {
//   margin-left: -40px;
// }




.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-tag-html {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  top: 35px; /* Adjust this value to position near the top */
  left: 80px;
  font-size: 18px;
  font-family: monospace;
  font-weight: 700;
  animation: fadeInTags 1s 1.4s backwards;
}

.top-tag-indent {
  display: block;
  margin-left: 40px; /* Adjust this value to indent */
  margin-top: 10px;
}

.bottom-tag-indent {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 70px;
  left: 120px;
  font-size: 18px;
  font-family: monospace;
  font-weight: 700;
  animation: fadeInTags 1s 1.4s backwards;
  margin-bottom: 36px;
}

.bottom-tag-html {
  display: block;
  margin-left: -40px;
  margin-top: 10px;
}
