.home-page {

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    text-align: left;
  }
  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: monospace;
    font-weight: 700;

    &::before {
      content:'<h1>';
      font-family: monospace;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &::after {
      content:'</h1>';
      font-family: monospace;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 150px;
      left: -15px;
      opacity: 0.6;
    }

    img {
      width: 32px;
    }
  }
}

.subheading {
  color: #ffd700;
  font-size: 16px;
  font-family: monospace;
  font-weight: 700;
  margin: 0;
}